.container1{
    background-color: rgb(241, 241, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    margin: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: space-between;
}
